<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="assets/styles/styles.css" media="all">
    <link rel="stylesheet" type="text/css" href="assets/styles/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/fontface.css">
    <title>Formula 1 Winners</title>
    </head>
    <body  ng-app="appFormula1" ng-controller="mainCtrl">
    
    <div class="header">
    <span class="ttitle">Formula 1 World Championships</span>
    <span class="ttitle">{{startYear}} - {{endYear}} </span><br>
    <input class="startBtn" type="button" ng-click="getData()" value="Speed your car!" />
    </div>

    <div id="carContainer" class="carContainer">
        <img id="f1Car" class="f1Car" src='assets/img/car.png' />
    </div>


    <div class="mainContainer">
        <div class="championshipContainer" id="championshipContainer" ng-repeat="season in realData" >
            <div class="seasonTitle" ng-click="showDetails($index)">
                <i class="fa fa-flag-checkered">  </i><br>
                <span class="start"> {{season.season}} Season</span>
            </div>
            <div class="detailsChamp_container" id="detailsChamp_container_{{$index}}">
                <div class="detailsChamp" >
                    <table>
                        <thead>
                            <th>Round</th>
                            <th>Grand Prix</th>
                            <th>Winner Driver</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="race in season.Races" 
                            ng-class="{'winner': season.seasonWinnerDriver == race.Results[0].Driver.code }">
                                <td>{{race.round}}</td>
                                <td>{{race.raceName}}</td>
                                <td>{{race.Results[0].Driver.givenName}}  {{race.Results[0].Driver.familyName}}
                                    <i class="fa fa-trophy" ng-if="season.seasonWinnerDriver == race.Results[0].Driver.code"></i>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script type="text/javascript" src="scripts/angular-route.js"></script>
    <script type="text/javascript" src="scripts/angular-ui.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js "></script>
    
        
    <!--This is used to redirect to another view, but it is not compatible with Chrome without a server-->
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="services/dataService.js"></script> 
    </body>
    
</html>