<div class="header">
    <span class="ttitle">Formula 1 World Championships</span><br>
    <input class="startBtn" type="button" ng-click="getData()" value="Speed your car!" />
</div>

<div id="carContainer" class="carContainer">
    <img id="f1Car" class="f1Car" src='assets/img/car.png' />
</div>


<div class="mainContainer">
    <div class="championshipContainer" id="championshipContainer" ng-repeat="season in realData" >
        <div class="seasonTitle" ng-click="showDetails($index)">
            <i class="fa fa-flag-checkered">  </i><br>
            <span class="start"> {{season.season}} Season</span>
        </div>
        <div class="detailsChamp_container" id="detailsChamp_container_{{$index}}">
            <div class="detailsChamp" >
                <table>
                    <thead>
                        <th>Round</th>
                        <th>Grand Prix</th>
                        <th>Winner Driver</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="race in season.Races" 
                        ng-class="{'winner': season.seasonWinnerDriver == race.Results[0].Driver.code }">
                            <td>{{race.round}}</td>
                            <td>{{race.raceName}}</td>
                            <td>{{race.Results[0].Driver.givenName}}  {{race.Results[0].Driver.familyName}}
                                <i class="fa fa-trophy" ng-if="season.seasonWinnerDriver == race.Results[0].Driver.code"></i>
                            </td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>

















 




      
