@font-face {
font-family: 'Circular Pro Book';
font-style: normal;
font-weight: normal;
src: url("../fonts/CircularStd-Book.otf");
}

@font-face {
font-family: 'Novecento Sans Wide Bold';
font-style: normal;
font-weight: normal;
src: url("../fonts/Novecentosanswide-Bold.otf");
}


