body{
    font-family: 'Circular Pro Book';
    background-color: #00b3e6;
    height: 100%;
    
}

.header{
    width: 100%;
    height: 185px;
    display: table;
    color: #ffdd30;
    font-family: "Novecento Sans Wide Bold", sans-serif;
    font-size: 52px;
    line-height: 46px;
    letter-spacing: -2px;
    
}

.ttitle{
    vertical-align: middle;
    display: block;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 25px;
    
}
.startBtn{
    background-color: #ffdd30;
    border: none;
    color: #005b96;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

.mainContainer{
    height: auto;
    width: 50%;
    z-index: 1;
    float: left;
    margin-left: 10%;
}

.seasonTitle{
    color: #fff;
    font-size: 39px;
    line-height: 30px;
    font-family: "Novecento Sans Wide Bold", sans-serif;
    margin-bottom: 15px;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}

.championshipContainer{
    width: 350px;
    height: 510px;
    text-align: center;
    margin-top: 30px;
    /*opacity: 0.5;
    transform: translateY(50px);
    transition: all 1s ease-out;*/
}

.detailsChamp_container{
    border-radius: 5px;
    background-color: #002;
    width: 365px;
    opacity: 0.5;
    display: none;
    border: solid;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    text-align: left;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.detailsChamp_container:hover{
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
}
.detailsChamp{
    color: #fff;
    font-size: 12px;
}

.winner{
    color: #ffdd30;
    font-size: 14px;
}

.seasonTitle:hover{
    color: #000;
    
}

/*Moving Car*/
.f1Car{
  width: 150px;
}
.carContainer{
    text-align: center;
    width: 70%;
    margin-left: 30%;
    height:100%;
    position: fixed;
    z-index: -1;
    margin-top: -10px;
}
